#root{
    width: 100vw;
    background-color: beige;
    border: solid 2px transparent;
    display: flex;
    justify-content: center;
}

svg{
    padding: 1rem;
    /* border: solid red 2px; */
    margin-inline: auto;
    width: 17rem;
    transform-origin: center center ;
    transform: rotate(0deg);
    transition: 2.5s 500ms ease-in-out;
}

svg.twist{
    transform: rotate(90deg);
    translate: -5rem -18rem;

}

.left-dna{

    stroke: rgb(255, 123, 0);
    stroke-dashoffset: -40;
    stroke-dasharray: 25 10 25 1000;
    transition: 1s ease-in-out;

    /* stroke-dasharray: 62 1000; */

    /* transition: 3s ease-in-out; */
    
}

.right-dna{
    stroke: orange;
    stroke-dashoffset: -40;
    /* stroke-dasharray: 25 12 25 1000; */
    stroke-dasharray: 60 1000;
    transition: 1s ease-in-out;

    /* transition: 4s ease-in-out; */
}



/* svg:hover > .left-dna{
    stroke-dasharray: 300 1000;
    stroke-dashoffset: 0;
}

svg:hover > .right-dna{
    stroke-dasharray: 45 0 300 1000;
    stroke-dashoffset: 0;
} */
svg.twist> .left-dna{
    transition: 3s ease-in-out;
    stroke-dasharray: 40 0 240;
    stroke-dashoffset: 0;
}

svg.twist > .right-dna{
    transition: 3s ease-in-out;
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
}