:root{
    --color: #c777ff;
    --linespeed: 2.25s;
}

html{
    background-color: beige;
}

body{
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

svg{
    height: 70vh;
    /* border: red 2px solid; */
}


.linetes-bot{
    /* stroke: greenyellow; */
    stroke-dashoffset: -370;
    /* stroke-dashoffset: -40; */
    stroke-width: 0;
    stroke-dasharray: 0 500;
    
    /* temporary or testing idk */
    transition: 0.75s linear;

    
}

svg:hover .linetes-bot{

    transition: stroke-dasharray var(--linespeed) ease-in-out, stroke-dashoffset var(--linespeed) ease-in-out;

    stroke-width: 13.0538;
    stroke-dashoffset: 0;
    stroke-dasharray: 700;
}

.linetes-top{
    /* stroke: purple; */
    /* stroke-dashoffset: -250; */
    stroke-width: 0;
    stroke-dashoffset: 20;
    stroke-dasharray: 0 5000;

     /* temporary or testing idk */
     transition: 0.75s linear;
    
}

svg:hover .linetes-top{

    transition: stroke-dasharray var(--linespeed) ease-in-out, stroke-dashoffset var(--linespeed) ease-in-out;


    stroke-width: 13.0538;
    stroke-dasharray: 700;
}

/* qwertyuiopasdfghjklzxcvbnmqwertyuiopasdfghjklzxcvbnm */


.top-h{
    opacity: 100%;
    transition: 0.25s ease-in-out;
}

svg:hover .top-h{
    stroke-width: 25.1;
    opacity: 0%;

}


.bot-h{
    opacity: 100%;
    transition: 0.25s ease-in-out;
}

svg:hover .bot-h{
    stroke-width: 25.1;
    opacity: 0%;

}



.top-h-line{    
    opacity: 100%;
    transition: 0.15s ease-in-out;
}
svg:hover .top-h-line{
    opacity: 0;
}
.bot-h-line{    
    opacity: 100%;
    transition: 0.15s ease-in-out;
}

svg:hover .bot-h-line{
    opacity: 0;
}

.h-connect{
    stroke-dashoffset: 75;
    stroke-dasharray: 525;
    stroke-width: 24;
    transition: 0.1s ease-in-out;
}

svg:hover .h-connect{
    stroke-dasharray: 0 500;
}


.hcon{
    opacity: 0;
}

svg:hover .hcon{
    opacity: 100%;
}


.rest-of-logo{
    opacity: 100%;
    transition: 1s ease-in-out 700ms;
}
svg:hover .rest-of-logo{
    transition: 0.5s ease-in-out;
    opacity: 0%;
}


svg{
    rotate: 0deg;
    transform-origin: center 131;
    transition: 1.5s ease-in-out;
    
}
svg:hover{
    rotate: 90deg;
    transition: 2s ease-in-out 1000ms;
}
